SECRET_KEY=
DEBUG=

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

MYSQL_DATABASE=autoria_db
MYSQL_USER=root
MYSQL_PASSWORD=superuser
MYSQL_HOST=autoria-db.cjcaeoqkcdwc.eu-north-1.rds.amazonaws.com
MYSQL_PORT=3306


EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_USE_TLS=
