SECRET_KEY=
DEBUG=

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

MYSQL_DATABASE=your_database_name
MYSQL_USER=your_db_username
MYSQL_PASSWORD=your_secure_password
MYSQL_HOST=your_cloud_db_host.com
MYSQL_PORT=your_cloud_db_port

EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_USE_TLS=
