{% extends 'base.html' %}

{% block body %}
    <h1 style="color: #d9534f;">Увага: Підозріле оголошення!</h1>
    <p>Система автоматичної модерації заблокувала оголошення після 3-х невдалих спроб редагування (використання забороненої лексики).</p>
    
    <p>Будь ласка, перевірте це оголошення вручну в панелі адміністратора.</p>
    
    <br>
    <p>
        <a href="{{ url }}" style="padding: 10px 15px; background-color: #0275d8; color: white; text-decoration: none; border-radius: 5px;">
            Перейти до перевірки оголошення #{{ ad_id }}
        </a>
    </p>
{% endblock %}